p {
  background-color:;
  font-size: 23px;
  margin: 0px;
  border-style: dashed;
  border-color: #D2ADAD;
  color: #B78080;
  width: 550px;
  padding: 23px;
    
}

button {
  background-color:white;
border-style: dotted;
border-color: #D2ADAD;
color: #D2ADAD;
border-width: 3px;
border-radius: 10px;
font-size: 19px;
font-family: serif;
margin: 30px;
padding: 14px;
}